.contact-page-wrapper {
    background-color: var(--second-background-color);
    color:var(--font-color);

}
.contact-text-container {
  width: 80%;
  margin: 5rem 0 5rem 0;
  align-items: flex-end;
}
.contact-headline {
    margin-bottom: 0;
}
.contact-subline-text {
    text-align: right;

}
.form-container {
    height: 25rem;
    width: 20rem;
    margin-bottom: 5rem;
}
.contact-form {
    height: 100%;
    width: 80%;
    

}
input {
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 10px;
    background-color: rgba(66, 63, 82, 0.543);
    border: none;
    /* border-bottom: 2px solid purple; */
    
    margin-bottom: 2rem;
}
input:focus, input:active {
    border: none;
    outline: none;
}
.message-input {
    margin: 0;
    height: 70px;
}
label {
    color: ;
    margin-bottom: 2px;
    

}
.submit-btn {
    color: white;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 50%;
    background-color: var(--btn-color);
    /* background-color: #81ac58; */
    margin-top: 5px;
   
}