@media (max-width: 767px) {
    .headline-wrapper {margin-top:auto;}
    .main-container { position: static}
}

@media (min-width: 768px) {
    .menu-icon {display: none;}
    .s-hidden {display: unset;}
    .m-l-show {display:  flex;}
    .m-l-hidden {display: none;}

    header {justify-content: center;}
    .first-page {justify-content: center;}
    .m-l-no-break {display: none;}
    .logo {margin:0; height: ; transform: scale(1.7);}

    .headline-wrapper {flex-direction: row-reverse; justify-content: center; align-items: center; margin: 0; margin-top: 15rem; height:15rem;}
    .presentation-text-container {text-align: right; max-width: 30rem; margin-right: 20px;}
    /* .headline-text {margin: 0;} */
    .subline-text {font-size: 25px;}
    .headline-wrapper {align-content: center;}
     h1,.hi {font-size: 50px; line-height: 40px;}
    .redcomma {color: white;}
    .divider {margin-right: 20px; height: 150px;}
    
    /*ABOUT*/
    .subpage-text-container {width: 70%;}
    .about-text {font-size: 17px;}
    .icon-profil-p {height: 25rem; flex-direction: column-reverse;}
    .connect-icon-container {height:45px; width:45px;}
    .connect-container {width: 80%;}
    .connect-logo {height:40px; width: 40px;}
    .profile-pic-container, img.profile-pic {border-radius: 0; height: 300px; width: 300px;}

    /*CONTACT*/
    .contact-text-container {width: 70%}


}
@media (min-width: 1024px) {
    .s-m-hidden {display: flex;}
    
    /*ABOUT*/
    .subpage-text-container {width: 90%;display: grid; grid-template-columns: 45% 45% 10%; grid-template-rows: 10% 90%;}
    .about-headline {grid-column-start: 1;grid-column-end: 4;}
    .about-text {width: 80%; text-align: left;}
    .icon-profil-p {margin-left: 2rem; height: 33rem;}
    .connect-container {width: 70%;}
    .profile-pic-container, img.profile-pic {width: 24rem; height: 24rem;}


    /*PORTFOLIO*/
    p, .small-text {font-size: var(--p-font-size-l);}
    /*CONTACT*/
}