.card {
    background-color:var(--card-color);
    border-radius: 20px 5px 20px 10px;
    height: 15rem;
    width: 15rem;
    margin: 10px;
    padding: 20px;
    
    }
    .card-links {
        color: var(--links-color);
    }
    /* .card-inner {
        height: 200px;
        width: 150px;
        border: 3px solid rgb(105, 179, 156);
        
        margin: 5px;
        overflow: hidden;
    } */
    .portfolio-page-wrapper {
        background-color: var(--background-color);
        padding-bottom: 20px;
    }
    #portfolio > h3 {
        color: var(--font-color);
    }
  