.flex {display: flex;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.j-c {justify-content: center;}
.j-flexend {justify-content: flex-end;}
.j-space-bet {justify-content: space-between;}
.a-c {align-items: center;}
.wrap {flex-wrap: wrap;}
.wrapper-height {min-height: 50rem;}
.wrapper {
    margin: 0;
    margin-top: 9.5px;
    width: 97%;
    max-width: 1500px;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.menu-items-hoverd {
    color: var(--menu-items-color);
    transition: color .3s;
}

.menu-items-hoverd:hover {
    color: green;
}

.bg-clr-grey {
    background-color: var(--background-color);
}
.small-text {letter-spacing: 3px; font-size: 12px;}
.tx-right {text-align: right;}
.tx-center {text-align: center;}

.card-border {
    border:var(--card-color) 2px solid;
} 

.flip-pic {transform: scaleX(-1);}
.b-and-w {filter: grayscale(100%);}


.grid {display: grid;}

.position-rel {position: relative;}
.position-abs {position: absolute;}
.hidden {display: none;}

.pointer-ev-none {pointer-events: none;}

.s-hidden {display: none;}
.s-m-hidden {display: none;}
.m-l-hidden {display: flex;}
.m-l-show {display:  none;}
