/*------START------*/
body,
html {
  height: auto;
  width: 100%;
  margin: 0;
}
body {
  color: var(--font-color);
  font-family: "Lato", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 17px;
  background: rgb(148, 110, 185);
  background: var(--background-clr-gradient);
}
.gradient-div {
  position: absolute;
  z-index: 0;
  background: rgb(110, 185, 158);
  background: radial-gradient(
    circle,
    rgba(110, 185, 158, 1) 0%,
    rgba(93, 192, 183, 1) 61%,
    rgba(252, 70, 107, 0) 100%
  );
  left: -20px;
  height: 100%;
  width: 50%;
}
.z-100 {
  position: absolute;
  z-index: 100;
}

/*------HEADER------*/
header {
  width: 97%;
  justify-content: end;
}

.l-header {
  height: 46px;
  width: 70%;
}
.s-header {
  justify-content: right;
}
.menu-icon.material-icons,
.toggle-lightmode.material-icons {
  color: var(--font-color);
  padding: 15px;
  font-size: 40px;
}

.header-menu {
  width: 75%;
  padding: 0;
}
.toggle-lightmode.material-icons {
  font-size: 20px;
}
/*--------MENU---------*/
.drop-down-menu {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90;
  background: black;
  opacity: var(--drop-down-opacity);
  width: 100%;
  height: 80%;
  overflow: hidden;
  animation: showdropdown 1s;
  color: white;
}

.hidedropdownmenu {
  animation: hidedropdown 1s;
  display: none;
}
@keyframes showdropdown {
  from {
    height: 0;
  }
  to {
    height: 80%;
  }
}
@keyframes hidedropdown {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
ul,
a {
  list-style: none;
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
}
.drop-down-list {
  height: 100%;
  padding: 0;
}
.dd-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 3px;
}

a:hover {
  color: rgb(85, 134, 73);
}

/*------FIRST PAGE-----*/
.main-container {
  width: 100%;
  height: calc(100% - 46px);
  position: relative;
}
.first-page {
  background-color: var(--background-color);
  width: 100%;
  height: calc(100% - 46px);
}

/*-------WAVES-------*/
.waves-lightmode {
  filter: invert(60%) sepia(120%) saturate(1000%) hue-rotate(90deg)
    brightness(100%) contrast(100%);
}
.waves-svg {
  background: url(../waves/Waves-mobile.svg) no-repeat;
  background-size: contain;
  width: 90%;
  height: 100%;
  opacity: 0.9;
  transform-origin: top;
  left: 0;
  top: 0;
  bottom: 0;
}
.waves-bigscreen {
  background: url(../waves/waves-straight.svg) no-repeat;
  width: 100%;
  height: 50rem;
  top: -100px;
  transform: scaley(0.7);
}

/*-----LOGO-------*/
.logo {
  background: url(../icons/logo.svg) no-repeat;
  height: 100px;
  width: 100px;
  margin-left: 17%;
  transform: scale(1.3);
}
.divider {
  border-left: 4px solid #7d7bd1;
  border-radius: 100px;
}
/*------TEXT--------*/
p {
  line-height: 20px;
  letter-spacing: 1px;
}
h1 {
  font-family: var(--headline-font);
  line-height: 30px;
  letter-spacing: 2px;
  text-align: right;
}
.headline-text {
  text-align: center;
  font-family: var(--headline-font);
  font-size: var(--headline-font-size);
  line-height: 30px;
  letter-spacing: 2px;
  margin: 30px 0 30px 0;
  width: 100%;
}
.font-size-20 {
  font-size: 15px;
}
.headline-wrapper {
  width: 100%;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 30rem;
  justify-content: space-between;
}
.presentation-text-container {
  max-width: 20rem;
  width: 100%;
  color: var(--font-color);
}
.subline-text > p {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 25px;
}

h1,
p {
  margin: 0;
}
.hi {
  font-size: calc(var(--headline-font-size) + 15px);
}
.redcomma {
  color: red;
}
