:root {
    --font-color: #f3f3f3;
    --background-color: #000;
    --second-background-color: rgb(20, 17, 38);
    --card-background-color: rgba(0, 0, 0, 0.673);
    --card-font-color: #f3f3f3;
    --background-clr-gradient: linear-gradient(90deg, rgba(148,110,185,1) 0%, rgba(255,16,167,1) 100%);
    --headline-font: 'Scheherazade New', serif;
    --headline-font-size: 32px;
    --p-font-size-l: 14px;
    --card-color: rgb(35, 33, 48);
    --btn-color: rgb(136, 105, 147);
    --links-color: violet;
    --drop-down-opacity: 0.9;

    transition: all .5s;

}

.lightmode {
    --font-color: #3A3A3A;
    --background-color: #ffffff;
    --second-background-color: #ffffff;
    --card-background-color: #d1b4e3c2;
    --card-font-color: #000;
    --background-clr-gradient: linear-gradient(90deg, rgb(139, 103, 249) 0%, rgb(121, 190, 233)100%);
    --card-color: rgba(66, 63, 82, 0.543);
    --btn-color: rgba(102, 40, 123, 0.694);
    --links-color: #7e0000bb;
    --drop-down-opacity: 0.95;
    --menu-items-color: #000;
    transition: all s ease-out;
}

